#studentsLists {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
	justify-content: center;
}

#studentsLists .photoCard {
	position: relative;
    width: 320px;
    aspect-ratio: 1/1;
}

#studentsLists .photoCard img {
    object-fit: cover;
	width: 100%;
	height: 100%;
}

#studentsLists .photoCard .textInfo {
	position: absolute;
    width: 320px;
	padding: 10px;
	bottom: 0;
	background-color: var(--transparent-white);
}

.photoCard .textInfo p {
	margin: 0px;
}

.photoCard .textInfo > p:nth-child(1) {
	font-size: 1.8rem;
	font-weight: 700;
}

.photoCard .textInfo > p:nth-child(2) {
	font-size: 1.5rem;
	font-weight: 300;
}

.photoCard .textInfo .moreText {
	display: none;
}

.moreText .buttons {
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
    margin-top: 50px;
    bottom: 0;
}

.moreText .buttons a {
	display: inline-block;
	width: fit-content;
}

#studentsLists .photoCard:hover img {
	opacity: 0.5;
}

#studentsLists .photoCard:hover .textInfo {
	height: 100%;
}

.photoCard:hover .textInfo .moreText {
	display: block;
}

.moreText .buttons a:hover {
    color: var(--color1);
}


.aside form {
	display: flex;
	flex-direction: column;
}

.aside form input[type="radio"] {
	display: none;
}

.aside p,
.aside form label {
	font-size: 2rem;
	margin: 1rem 0;
}

.aside form label {
	margin: 0;
	padding: 0.5rem;
	display: inline-block;
}

.aside p a:hover,
.aside form label:hover {
	color: var(--color1);
}

.aside form :checked + label {
	color: #fff;
	background-color: var(--color1);
}